/app_web/.angular/cache/13.3.1/angular-webpack/c1aba2f2a136f6a63cb3127e1d7b0038ae38d2e8/*.pack
/app_web/.angular/cache/13.3.1/angular-webpack/c1aba2f2a136f6a63cb3127e1d7b0038ae38d2e8/*.old
/app_web/package-lock.json
