<h1>Productos</h1>
<div class="row">
  <div *ngFor="let item of products" class="col-sm-3">
    <div class="card text-center">
      <div class="card-body">
        <p class="card-text">{{item.name}} $ {{item.detail.price}}</p>
        <img class="card-img-top" src="{{item.img}}" alt="..." style="width:150px;height:150px;" />
        <p class="card-text">{{item.descri}}</p>
           <div  class="row">
               <div class="col-md-4"></div>
               <div class="col-md-4">
                  <input style="margin: 10px;" type="number" class="form-control" id="inputsm" value="1" min="0">
               </div>
               <div class="col-md-4"></div>
           </div>
          <a type="button" class="btn btn-outline-success"><span class="bi bi-cart"></span> Añadir</a>
          <a class="btn btn-outline-dark mt-auto" [routerLink]="['../register/',item.id]">Edit</a>
        </div>
    </div>
    <br>
  </div>
</div>
<paginator-nav *ngIf="paginador" [paginador]='paginador'></paginator-nav> 