<!-- Separation for card number-->

<!-- <nav class="navbar navbar-light justify-content-between">
  <form class="form-inline">
    <input [(ngModel)]="filterNav" class="form-control mr-sm-2" type="search" placeholder="{{navBar.title}}" aria-label="Search">
  </form>
</nav>-->
<div *ngIf="products?.length == 0" class="alert alert-info">
    There are not product records in the database.
</div>
<div class="col mb-5" *ngFor="let item of products">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="{{item.img}}" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h3 class="fw-bolder">{{item.name}}</h3>
                <!-- Product price-->
             <h5 class="fw-bolder">$ {{item.detail.price}}</h5>
              <h5 class="fw-bolder">{{item.descri}}</h5>

            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">View options</a>
              <a class="btn btn-outline-dark mt-auto" [routerLink]="['../register/',item.id]">Edit</a>
            </div>

        </div>

    </div>
</div>
